@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar{
    display: none;
}

.job-description {
  font-family: "Inter", sans-serif;
  color: #4b5563; /* Tailwind's gray-600 */
  font-size: 1rem;
  line-height: 1.75;
}

.job-description h3,
.job-description h2 {
  font-weight: 700;
  font-size: 1.25rem; /* 20px */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #111827; /* darker heading */
}

.job-description p {
  margin-bottom: 1rem;
}

.job-description ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}

.job-description ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}

.job-description li {
  margin-bottom: 0.5rem;
}

.job-description strong {
  font-weight: 700;
}
